:root {
  --white: #ffffff;
  --yellow: #ffd602;
  --red: #d5040a;
  --blue: #036cb6;
  --font: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  font-size: 1.6rem;
}

.page {
  position: relative;

  width: 100%;
  min-height: 100vh;
}

.container {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas:
    'nav    aside'
    'main   aside'
    'footer aside';
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);

  animation: loader 0s linear forwards;
}
.loader__ball {
  background-color: lightpink;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 10px;

  transform: scale(0);

  animation: scaling 2s ease infinite;
}
.loader__ball:nth-child(1) {
  animation-delay: 0.2s;
}
.loader__ball:nth-child(2) {
  animation-delay: 0.4s;
}
.loader__ball:nth-child(3) {
  animation-delay: 0.6s;
}

.navbar {
  grid-area: nav;
  background-color: lightpink;
  display: flex;
  align-items: center;
}
.navbar__content {
  display: flex;
  align-items: center;
  padding: 0 50px;

  transform: translateY(-200px);
  animation: 0.5s navbar 2s ease-in-out forwards;
}
.navbar__content img {
  width: 50px;
}
.navbar__content ul {
  width: 450px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.navbar__content ul li a {
  font-family: var(--font);
  font-weight: 300;
  color: var(--red);
  text-decoration: none;
  text-transform: uppercase;
}

.main-content {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding-left: 50px;

  transform: translateY(-800px);
  animation: 0.5s mainContent 0s ease-in-out forwards;
}
.main-content__title {
  font-size: 4.8rem;
  font-weight: 700;
}
.main-content__title p {
  font-size: 3.6rem;
  font-weight: 300;
  margin: 0 0 -14px 45px;
}
.main-content__description {
  max-width: 450px;
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes scaling {
  0%,
  100% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes navbar {
  to {
    transform: translateY(0);
  }
}

@keyframes mainContent {
  to {
    transform: translateY(0);
  }
}
