:root {
  --white: #ffffff;
  --yellow: #ffd602;
  --red: #d5040a;
  --blue: #036cb6;
  --font: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  font-size: 1.6rem;
}

.page {
  position: relative;

  width: 100%;
  min-height: 100vh;
}

.container {
  position: absolute;
  z-index: 1;

  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas:
    'nav    aside'
    'main   aside'
    'footer aside';
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);

  animation: 3s loader linear forwards;
}
.loader__ball {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
  background-color: var(--yellow);

  transform: scale(0);

  animation: 1.5s scaling ease infinite;
}
.loader__ball:nth-child(1) {
  animation-delay: 0.2s;
}
.loader__ball:nth-child(2) {
  animation-delay: 0.4s;
}
.loader__ball:nth-child(3) {
  animation-delay: 0.6s;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}
.modal.open {
  visibility: visible;
}
.modal__content {
  position: relative;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}
.modal__content--close {
  position: absolute;
  top: 10px;
  right: 10px;

  cursor: pointer;
}
.modal__slider {
  margin: 0 auto;
  width: 300px;
  height: 200px;
}
.modal__slider input {
  display: none;
}
.cards {
  position: relative;
  width: 100%;
  height: 100%;
}
.card {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;

  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--yellow);
  cursor: pointer;

  transition: transform 0.5s ease;
}
.card img {
  width: 100%;
}

#radio-1:checked ~ .cards #card-1,
#radio-2:checked ~ .cards #card-2,
#radio-3:checked ~ .cards #card-3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}
#radio-1:checked ~ .cards #card-2,
#radio-2:checked ~ .cards #card-3,
#radio-3:checked ~ .cards #card-1 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}
#radio-1:checked ~ .cards #card-3,
#radio-2:checked ~ .cards #card-1,
#radio-3:checked ~ .cards #card-2 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}

.navbar {
  grid-area: nav;
  display: flex;
  align-items: center;
}
.navbar__content {
  display: flex;
  align-items: center;
  padding: 0 50px;

  transform: translateY(-200px);
  animation: 0.5s navbar 3s ease-in-out forwards;
}
.navbar__content img {
  width: 50px;
}
.navbar__content ul {
  width: 450px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.navbar__content ul li a {
  font-family: var(--font);
  font-weight: 300;
  color: var(--red);
  text-decoration: none;
  text-transform: uppercase;
}

.main-content {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  padding-left: 50px;

  transform: translateY(-800px);
  animation: 0.5s mainContent 3s ease-in-out forwards;
}
.main-content__title {
  font-size: 4.8rem;
  font-weight: 700;
}
.main-content__title p {
  font-size: 3.6rem;
  font-weight: 300;
  margin: 0 0 -14px 45px;
}
.main-content__description {
  max-width: 450px;
}

.side-content {
  grid-area: aside;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  overflow: hidden;
}
.side-content p {
  transform: rotate(-90deg);
  font-size: 36px;

  grid-row: 1 / 2;
  grid-column: 1 / 2;

  opacity: 0;
  animation: 0.5s sideContentText 4s ease-in-out forwards;
}
.side-content img {
  width: 100%;
  grid-column: 2 / 6;
  grid-row: 1 / 2;

  transform: translateY(1200px);
  will-change: transform;
  animation: 1.2s sideContentImage 3s ease-in-out forwards;
}
.side-content div {
  width: 100%;
  height: 100%;
  grid-column: 4 / 7;
  grid-row: 1 / 2;
  background-color: var(--yellow);
}

.footer {
  grid-area: footer;
  background-color: var(--yellow);
  border-radius: 0 80px 0 0;
  overflow: hidden;
}
.footer__list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;

  transform: translateY(100%);
  animation: 0.5s footer 3s ease-in-out forwards;
}
.footer__item {
  position: relative;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-bottom: 30px;
}
.footer__item--background {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  width: 90%;
  height: 50%;
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
  background-color: var(--blue);
}
.footer__item button {
  width: 150px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  transition-duration: 0.5s;
}
.footer__item button:hover {
  transform: translateY(-20px) scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.footer__item img {
  width: 100%;
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  95% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes scaling {
  0%,
  100% {
    transform: scale(0.2);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes navbar {
  to {
    transform: translateY(0);
  }
}
@keyframes mainContent {
  to {
    transform: translateY(0);
  }
}
@keyframes sideContentText {
  to {
    opacity: 1;
  }
}
@keyframes sideContentImage {
  0% {
    transform: translateY(1200px);
  }
  85% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes footer {
  to {
    transform: translateY(0);
  }
}
